.alert-message {
    box-sizing: border-box;
    padding: 0.95rem;
    width: 100%;
}

.alert {
    display: flex;
    padding: 2px;
}
.alert-dismissible {
    padding-right: none;
}
.alert {
    background: transparent;
    padding-top: 0.95rem;
    padding-bottom: 0.95rem;
    margin-bottom: 1rem;
    color: inherit;
    border-color: transparent;
    border: 0 solid transparent;
    border-radius: 0.2rem;
    position: relative;
}

.btn-close{
    margin-left: auto;
}
.alert-primary {
    color: #234b85 !important;
    background-color: #d8e5f8 !important;
    border-color: #c4d8f5 !important;
    padding: 10px;
}
.alert-danger {
    color: #842029 !important;
    background-color: #f8d7da !important;
    border-color: #f5c2c7 !important;
    padding: 10px;
}

.alert-success {
    color: #117054 !important;
    background-color: #d2f1e8 !important;
    border-color: #bbebdd !important;
    padding: 10px;
}

table tr:nth-child(1) {
    background: #e9e9e9 !important;
}

.modal-container{
    display:flex;
    position:fixed;
    align-items:center;
    justify-content:center;
    pointer-events:none;
    top:75px;
    opacity:0;
    left:0;
    width:100%;
    transition:opacity 0.3s ease;
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-container.show{
    opacity:1;
    pointer-events:auto;
}


.modal{
    background:#fff;
    width:600px;
    max-width:90%;
    /* padding:30px 50px; */
    border-radius:5px;
    position:relative;
    transform:translateY(-100%);
    transition: transform .3s ease-in-out;
}
.modal-container.show .modal{
    transform: translateX(0px);
}
.modal button.closee{
    position:absolute;
    z-index:5;
    right:10px;
    top:-7px;
    font-size:32px;
    background:none;
    border:none;
    outline:none;
    cursor:pointer;
    color:black;
}
.modal button.closee:hover{
    color:blue;
}

.animt_var{
    display:none;
    animation: fadeInRight 1.5s ease-in-out;
}
@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100px, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
}
.animt1_var{
    display:none;
    animation: fadeInTop 1.5s ease-in-out;
}
@keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translate3d(0, -70px, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
}


.pagination {
    padding:0.75rem 0.3rem;
    font-size: 0.875rem;
    color: #6c757d;
    border-width: 1px;
    border-color: #dee2e6;
    border-radius: 0.2rem;
    display: flex;
    list-style: none;
    padding-left: 0;
}

.page-link {
    position: relative;
    display: block;
    color: #6c757d;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.page-item .page-link{
    padding:5px 10px;
}

.page-link:hover {
    z-index: 2;
    color: #343a40;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.page-link:focus {
    z-index: 3;
    color: #2f64b1;
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(59,125,221,0.25)
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #3B7DDD;
    border-color: #3B7DDD
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6
}

.page-link {
    padding: .3rem .75rem
}

.page-item:first-child .page-link {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem
}

.page-item:last-child .page-link {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem
}

.display-time {
    font-size: 30px;
    text-align: center;
    display: flex;
    font-weight: bold;
    border: 2px solid #3b7ddd;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    transition: ease-in-out 0.1s;
    transition-property: background, box-shadow, color;
    -webkit-box-reflect: below 2px linear-gradient(transparent, rgba(255, 255, 255, 0.05));
}

.display-time:hover {
    background: #3b7ddd;
    box-shadow: 0 0 30px#3b7ddd;
    color: #ffffff;
    cursor: pointer;
}

.wib{
    font-size:30px;
    text-align: center;
    display: flex;
    font-weight: bold;
    justify-content: center;
    letter-spacing: 1px;
}
